In [1]:
import pandas as pd

In [5]:
df=pd.read_csv('./untidy_data/sales.csv')
df

  Product  2016 Sales  2016 PPU  2017 Sales  2017 PPU  2018 Sales  2018 PPU
0       A         673         5         231         7         173         9
1       B         259         3         748         5         186         8
2       C         644         3         863         5         632         5
3       D         508         9         356        11         347        14

In [6]:
df.melt(id_vars='Product')

   Product    variable  value
0        A  2016 Sales    673
1        B  2016 Sales    259
2        C  2016 Sales    644
3        D  2016 Sales    508
4        A    2016 PPU      5
5        B    2016 PPU      3
6        C    2016 PPU      3
7        D    2016 PPU      9
8        A  2017 Sales    231
9        B  2017 Sales    748
10       C  2017 Sales    863
11       D  2017 Sales    356
12       A    2017 PPU      7
13       B    2017 PPU      5
14       C    2017 PPU      5
15       D    2017 PPU     11
16       A  2018 Sales    173
17       B  2018 Sales    186
18       C  2018 Sales    632
19       D  2018 Sales    347
20       A    2018 PPU      9
21       B    2018 PPU      8
22       C    2018 PPU      5
23       D    2018 PPU     14

In [7]:
df=df.drop(columns= 'variable')

KeyError: "['variable'] not found in axis"